/* Base structure */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(15, 23, 42);
  color: rgb(241, 245, 249);
}

#app {
  min-height: 100%;
}

/* Custom fonts */
@font-face {
  font-family: 'pip-title';
  src: url('fonts/gillies_gothic_bold.otf');
}

@font-face {
  font-family: 'pip-content';
  src: url('fonts/fixedsys/fsex300-webfont.ttf');
}
